<h2 style="padding: 15px; background-color: antiquewhite; color:#7a478d; text-align: center;">Dashboard</h2>

<button type="button" (click)="showPopup()">Submit</button>

<table id="dataTable">
    <thead>
        <tr>
            <th>Recipient Name</th>
            <th>Bank Name</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Own Reference</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{ payment.recipientName }}</td>
            <td>{{ payment.bankName }}</td>
            <td>{{ payment.currency }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.ownReference }}</td>
            <td>{{ payment.status }}</td>
        </tr>
    </tbody>
</table>

<div class="popup-form" [ngStyle]="{'display': isPopupVisible ? 'block' : 'none'}" id="popupForm">
    <h2>Enter Information</h2>
    <label for="idNumber">ID Number</label>
    <input type="text" id="idNumber" [(ngModel)]="formData.idNumber" placeholder="ID Number">
    
    <label for="recipientName">Recipient Name</label>
    <input type="text" id="recipientName" [(ngModel)]="formData.recipientName" placeholder="Recipient Name">
    
    <label for="bankName">Bank Name Of Recipient</label>
    <input type="text" id="bankName" [(ngModel)]="formData.bankName" placeholder="Bank Name Of Recipient">
    
    <label for="swiftCode">Recipient Swift Code</label>
    <input type="text" id="swiftCode" [(ngModel)]="formData.swiftCode" placeholder="Recipient Swift Code">
    
    <label for="accountNumber">Account Number</label>
    <input type="text" id="accountNumber" [(ngModel)]="formData.accountNumber" placeholder="Account Number">
    
    <label for="currency">Currency</label>
    <select id="currency" [(ngModel)]="formData.currency"> 
        <option value="USD">USD - US Dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="ZAR">ZAR - South African Rand</option>
        <option value="JPY">JPY - Japanese Yen</option>
        <option value="AUD">AUD - Australian Dollar</option>
        <option value="CAD">CAD - Canadian Dollar</option>
        <option value="CHF">CHF - Swiss Franc</option>
        <option value="CNY">CNY - Chinese Yuan</option>
        <option value="INR">INR - Indian Rupee</option>
    </select>

    <label for="amount">Amount</label>
    <input type="number" id="amount" [(ngModel)]="formData.amount" placeholder="Amount">
    
    <label for="ownReference">Own Reference</label>
    <input type="text" id="ownReference" [(ngModel)]="formData.ownReference" placeholder="Own Reference">
    
    <div style="display: flex; justify-content: space-between;">
        <button type="button" class="submit-btn" (click)="submitForm()">Submit</button>
        <button type="button" class="close-btn" (click)="closePopup()">Close</button>
    </div>
</div>
