<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Employee Dashboard</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>Bank Name</th>
                    <th>SWIFT Code</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngfor="let paymentEntry of paymentEntries">
                    <td>{{paymentEntry.idNumber}}</td>
                    <td>{{paymentEntry.bankName}}</td>
                    <td>{{paymentEntry.swiftCode}}</td>
                    <td>{{paymentEntry.currency}}</td>
                    <td>{{paymentEntry.amount}}</td>
                    <td>{{paymentEntry.date}}</td>
                    <td>{{paymentEntry.status}}</td>
                    <td>
                        <button  class="btn btn-success">Verify</button>
                        <button  class="btn btn-danger">Decline</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
